<!DOCTYPE html>
<html>
  <head>
    <title>Spartans</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


  <h1>Spartans</h1>
    <div>
      <form method="post" action="/save">
        <div>
          <label for="bigurl">
            <h3>Enter Big URL:</h3>
            <textarea name="bigurl" id="bigurl" cols="60" rows="7">Enter Big URL</textarea>
          </label>
        </div>
        <input type="submit" value="save" />
        <div>
          <h3>Short URL:</h3>
          <textarea name="shorturl" id="shorturl" cols="60" rows="7">You'll get shorter one here...</textarea>

        </div>
      </form>
    </div>
  <div>
    <h2>Trending URLs:</h2>
    <div>
      <tbody>
      <% index.forEach(function (obj) { %>
      <ul>
        <li><%= obj %></li>

      </ul>
      <% }) %>
      </tbody>
    </div>
  </div>
    <div>
    </div>



  </body>
</html>
